<div id="orders">
  <h3 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>  
  </h3>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% @orders.each do |order| %>
      <% if "#{order.created_at.strftime("%Y-%m-%d")}" == "#{date}" %>
        <ul>
          <li>
            <% summary_of_the(order) %>
            <%= link_to "#{@company.name}", order %><br>
            <%= link_to "Price:#{@total} $", order %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>