<% provide(:title, "List order") %>

<div class="row">
  <div class="span6 offset3">
  <h3>Today's order</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Address</th>
      <th>Company</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% total_price = 0 %>
  <% @orders.each do |order| %>
    <tr>
      <% info_to(order) %>
      <td><%= link_to "#{@user.email}", order %></td>
      <td><%= link_to "#{order.address}", order %></td>
      <td><%= link_to "#{@company.name}", order %></td>
      <td><%= link_to "#{@total} $", order %></td>
      <% total_price += @total %>
    </tr>
  <% end %>
    <tr>
      <th></th>
      <th></th>
      <th><h4>Total price:</h4></th>
      <th><h4><%= "#{total_price} $" %></h4></th>
    </tr>
  </tbody>
</table>

  </div>
</div>
