<% provide(:title, 'Add product') %>

<div class="row">
  <div class="span6 offset3">
    <h1>Add a new dish</h1>
    
    <%= form_for(@product) do |f| %>
    <%= render 'shared/error_messages_product' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :price %>
      <%= f.number_field :price, in:0.01..99999999.99, step: 0.01, placeholder: "0.01" %>

      <%= f.label :food_type %>
      <%= f.select(:food_type, [['Main course', 1], ['Additional food', 2], ['Beverages', 3]]) %>

      <%= f.label :company_id %>
      <%= f.collection_select(:company_id, Company.all, :id, :name) %>

      <%= f.submit "Add product!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>